<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105604883550-ebnip0q2uj6mpcpm633hpamkftrjigm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105604883550-ebnip0q2uj6mpcpm633hpamkftrjigm3</string>
	<key>API_KEY</key>
	<string>AIzaSyDqwaP6TBIhO_tsO7_Gn8U7nIoDYMtS9Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>105604883550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tromega</string>
	<key>PROJECT_ID</key>
	<string>tromega-21238</string>
	<key>STORAGE_BUCKET</key>
	<string>tromega-21238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105604883550:ios:4de61f00a814aafcc400cf</string>
</dict>
</plist>